openapi: 3.1.0
info:
  title: Sambanova Agents Service
  description:  >-
    Service for Sambanova agents.


    This API provides access to specialized AI agents for deep research, data science,
    financial analysis, coding, and general-purpose tasks.


    Execution Modes:


    Each agent supports two execution modes to fit different use cases:


    1. Fire-and-forget mode: Standard endpoints (e.g., /agent/deepresearch, /agent/datascience)
    that automatically handle all intermediate steps and return the final result in a single API call.
    Any required approvals (like research plans or hypotheses) are automatically approved.


    2. Interactive mode: Interactive endpoints (e.g., /agent/deepresearch/interactive,
    /agent/datascience/interactive) that allow you to review and approve intermediate steps
    before the agent continues. When an interrupt occurs, the API returns status="interrupted"
    with a message containing the plan or hypothesis. You can then approve it or provide feedback
    by calling the endpoint again with resume=true and the same thread_id.
  version: 0.0.1
  termsOfService: https://sambanova.ai/cloud-end-user-license-agreement
  contact:
    email: info@sambanova.ai
    name: SambaNova information
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
externalDocs:
  description: >-
     Find out more in the official SambaNova docs
  url: https://docs.sambanova.ai/cloud/api-reference/overview
servers:
  - url: https://chat.sambanova.ai/api
components:
############################
# SECURITY DEFINITIONS
############################
  securitySchemes:
    api_key:
      type: http
      description: SambaNova API Key
      scheme: bearer
      bearerFormat: apiKey
############################
# BASE SCHEMAS DEFINITIONS
############################
  schemas:
    TaskModelOverride:
      title: TaskModelOverride
      type: object
      description: >-
        Per-task override for provider and model selection. Use this to target a
        specific model or base URL for a single task (e.g., deep_research_writer).
      additionalProperties: false
      properties:
        provider:
          title: Provider
          type: string
          description: Provider name to use for this task (e.g., sambanova, sambastack, sambamanaged, custom_provider_name).
        model:
          title: Model
          type: string
          description: Model identifier for the selected provider.
        base_url:
          title: Base Url
          type: string
          format: uri
          description: Optional base URL override for the provider's API endpoint.
        provider_type:
          title: Provider Type
          type: string
          description: >-
            Client type to use for this provider. When omitted, defaults to the provider.
            Use "openai" for OpenAI-compatible endpoints, or "sambanova" for SambaNova-compatible
          enum:
            - openai
            - sambanova
      examples:
        - model: "gpt-oss-120b"
        - provider: "sambastack"
          model: "gpt-oss-120b"
          base_url: "https://api.sambanova.ai/v1"
          provider_type: "sambanova"
    LLMOverrides:
      title: LLMOverrides
      type: object
      description: >-
        Request-scoped LLM configuration overrides. These settings apply only to
        this request and do not persist. Precedence: task_models overrides >
        top-level overrides > server defaults.
      additionalProperties: false
      properties:
        provider:
          title: Provider
          type: string
          description: Default provider to use for this request (e.g., sambanova, sambastack, sambamanaged, custom_provider_name).
        model:
          title: Model
          type: string
          description: Default model identifier to use for this request.
        base_url:
          title: Base Url
          type: string
          format: uri
          description: Optional base URL override for the selected provider's API endpoint.
        provider_type:
          title: Provider Type
          type: string
          description: >-
            Client type to use for the provider. When omitted, defaults to the provider.
            Use "openai" for OpenAI-compatible endpoints, or "sambanova" for SambaNova-compatible.
          enum:
            - openai
            - sambanova
        task_models:
          title: Task Models
          type: object
          description: >-
            Per-task overrides keyed by task id. Different agents use different task IDs:


            Main Agent tasks: main_agent, code_execution, vision_agent


            Deep Research tasks: deep_research_planner, deep_research_writer, deep_research_summary


            Data Science tasks: data_science_report, data_science_code, data_science_note,
            data_science_process, data_science_hypothesis, data_science_quality_review,
            data_science_refiner, data_science_visualization, data_science_searcher,
            data_science_human_choice


            Financial Analysis tasks: financial_competitor_finder, financial_analysis_main,
            financial_aggregator


            Coding Agent tasks: code_execution
          additionalProperties:
            $ref: '#/components/schemas/TaskModelOverride'
      examples:
        - provider: "sambastack"
          base_url: "https://api.sambanova.ai/v1"
          task_models:
            deep_research_writer:
              model: "Llama-4-Maverick-17B-128E-Instruct"
            deep_research_planner:
              model: "Llama-4-Maverick-17B-128E-Instruct"
            deep_research_summary:
              model: "Llama-4-Maverick-17B-128E-Instruct"
    DatascienceAgentRequest:
      title: DatascienceAgentRequest
      type: object
      description: Request for data science agent json object
      additionalProperties: false
      properties:
        files:
          description: One or more files to be analyzed.
          items:
            format: binary
            type: string
          title: Files
          type: array
        prompt:
          description: The main prompt for the data science agent.
          title: Prompt
          type: string
        llm_config_json:
          title: LLM Config Json
          description: >-
            Optional JSON string for request-scoped LLM overrides. The JSON
            should match the LLMOverrides schema and is applied only to this request.
          type: string
      required:
        - prompt
        - files
      examples:
        - prompt: "Perform exploratory data analysis on this dataset"
          files: "@dataset.csv"
        - prompt: "Perform exploratory data analysis on this dataset"
          files: "@dataset.csv"
          llm_config_json: '{"provider":"sambastack","base_url":"https://api.sambanova.ai/v1","model":"gpt-oss-120b"}'
        - prompt: "Perform exploratory data analysis on this dataset"
          files: "@dataset.csv"
          llm_config_json: '{"provider":"sambastack","base_url":"https://api.sambanova.ai/v1","task_models":{"data_science_report":{"model":"DeepSeek-V3-0324"},"data_science_code":{"model":"DeepSeek-V3-0324"},"data_science_note":{"model":"Meta-Llama-3.3-70B-Instruct"},"data_science_process":{"model":"Qwen3-32B"},"data_science_hypothesis":{"model":"DeepSeek-V3-0324"},"data_science_quality_review":{"model":"Llama-4-Maverick-17B-128E-Instruct"},"data_science_refiner":{"model":"DeepSeek-R1-0528"},"data_science_visualization":{"model":"DeepSeek-V3-0324"},"data_science_searcher":{"model":"DeepSeek-V3-0324"},"data_science_human_choice":{"model":"DeepSeek-R1-Distill-Llama-70B"}}}'
    DatascienceAgentInteractiveRequest:
      title: DatascienceAgentInteractiveRequest
      type: object
      description: Request for data science interactive agent json object
      additionalProperties: false
      properties:
        file_ids_json:
          anyOf:
            - type: string
            - type: 'null'
          description: A JSON string of file IDs, required for resuming a session
          title: File Ids Json
        files:
          anyOf:
            - items:
                format: binary
                type: string
              type: array
            - type: 'null'
          description: file to upload
          title: Files
        prompt:
          title: Prompt
          description: The main prompt for the data science interactive agent
          type: string
        llm_config_json:
          title: LLM Config Json
          description: >-
            Optional JSON string for request-scoped LLM overrides. The JSON
            should match the LLMOverrides schema and is applied only to this request.
          type: string
        resume:
          default: false
          title: Resume
          description: Whether to describe the results or not
          type: boolean
        thread_id:
          anyOf:
            - type: string
            - type: 'null'
          title: Thread Id
          description: thread id for persistent context
      required:
        - prompt
      examples:
        - prompt: "Perform exploratory data analysis on this dataset"
          files: "@dataset.csv"
          resume: false
        - prompt: "Perform exploratory data analysis on this dataset"
          files: "@dataset.csv"
          resume: false
          llm_config_json: '{"provider":"sambastack","base_url":"https://api.sambanova.ai/v1","model":"gpt-oss-120b"}'
        - prompt: "approve"
          thread_id: "thread-abc123"
          file_ids_json: ["file-id-1", "file-id-2"]
          resume: true
          llm_config_json: '{"provider":"sambastack","base_url":"https://api.sambanova.ai/v1","task_models":{"data_science_report":{"model":"DeepSeek-V3-0324"},"data_science_code":{"model":"DeepSeek-V3-0324"},"data_science_note":{"model":"Meta-Llama-3.3-70B-Instruct"},"data_science_process":{"model":"Qwen3-32B"},"data_science_hypothesis":{"model":"DeepSeek-V3-0324"},"data_science_quality_review":{"model":"Llama-4-Maverick-17B-128E-Instruct"},"data_science_refiner":{"model":"DeepSeek-R1-0528"},"data_science_visualization":{"model":"DeepSeek-V3-0324"},"data_science_searcher":{"model":"DeepSeek-V3-0324"},"data_science_human_choice":{"model":"DeepSeek-R1-Distill-Llama-70B"}}}'
    CodingAgentInteractiveRequest:
      title: CodingAgentInteractiveRequest
      type: object
      description: Request for coding interactive agent json object
      additionalProperties: false
      properties:
        code:
          title: Code
          description: Code to run
          type: string
        prompt:
          title: Prompt
          description: The main prompt for the coding interactive agent
          type: string
        llm_config:
          $ref: '#/components/schemas/LLMOverrides'
        resume:
          default: false
          title: Resume
          description: Whether to describe the results or not
          type: boolean
        thread_id:
          anyOf:
            - type: string
            - type: 'null'
          title: Thread Id
          description: thread id for persistent context
      required:
        - prompt
        - code
      examples:
        - prompt: "Create a function to calculate fibonacci"
          code: |
            def fib(n):
              return fib(n-1) + fib(n-2)
        - prompt: "Create a function to calculate fibonacci"
          code: |
            def fib(n):
              return fib(n-1) + fib(n-2)
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            model: "gpt-oss-120b"
        - prompt: "Fix the base case issue"
          code: |
            def fib(n):
              if n <= 1:
                  return n
              return fib(n-1) + fib(n-2)
          thread_id: "thread-abc123"
          resume: true
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            task_models:
              code_execution:
                model: "DeepSeek-V3-0324"
    CodingAgentRequest:
      title: CodingAgentRequest
      type: object
      description: Request for coding agent json object
      additionalProperties: false
      properties:
        code:
          title: Code
          description: Code to run
          type: string
        prompt:
          title: Prompt
          description: The main prompt for the coding agent
          type: string
        llm_config:
          $ref: '#/components/schemas/LLMOverrides'
      required:
        - prompt
        - code
      examples:
        - prompt: "Run this code and explain the output"
          code: |
            import numpy as np
            import matplotlib.pyplot as plt

            x = np.linspace(0, 2 * np.pi, 100)
            y = np.sin(x)
            plt.plot(x, y)
            plt.savefig("sine_wave.png")
            print("Chart created!")
        - prompt: "Run this code and explain the output"
          code: |
            import numpy as np
            import matplotlib.pyplot as plt

            x = np.linspace(0, 2 * np.pi, 100)
            y = np.sin(x)
            plt.plot(x, y)
            plt.savefig("sine_wave.png")
            print("Chart created!")
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            model: "gpt-oss-120b"
        - prompt: "Run this code and explain the output"
          code: |
            import numpy as np
            import matplotlib.pyplot as plt

            x = np.linspace(0, 2 * np.pi, 100)
            y = np.sin(x)
            plt.plot(x, y)
            plt.savefig("sine_wave.png")
            print("Chart created!")
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            task_models:
              code_execution:
                model: "DeepSeek-V3-0324"
    DeepResearchInteractiveRequest:
      title: DeepResearchInteractiveRequest
      type: object
      description: Request for deep research interactive agent json object
      additionalProperties: false
      properties:
        prompt:
          title: Prompt
          description: The main prompt for the deep research interactive agent
          type: string
        llm_config:
          $ref: '#/components/schemas/LLMOverrides'
        resume:
          default: false
          title: Resume
          description: Whether to describe the results or not
          type: boolean
        thread_id:
          anyOf:
            - type: string
            - type: 'null'
          title: Thread Id
          description: thread id for persistent context
      required:
        - prompt
      examples:
        - prompt: "Research AI accelerator market"
        - prompt: "Research AI accelerator market"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            model: "gpt-oss-120b"
        - prompt: "approve"
          thread_id: "thread-abc123"
          resume: true
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            task_models:
              deep_research_writer:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              deep_research_planner:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              deep_research_summary:
                model: "Llama-4-Maverick-17B-128E-Instruct"
    DeepResearchRequest:
      title: DeepResearchRequest
      type: object
      description: Request for deep research agent json object
      additionalProperties: false
      properties:
        prompt:
          title: Prompt
          description: The main prompt for the deep research agent
          type: string
        llm_config:
          $ref: '#/components/schemas/LLMOverrides'
      required:
        - prompt
      examples:
        - prompt: "Conduct research on quantum computing advances in 2024"
        - prompt: "Conduct research on quantum computing advances in 2024"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            model: "gpt-oss-120b"
        - prompt: "Conduct research on quantum computing advances in 2024"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            task_models:
              deep_research_writer:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              deep_research_planner:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              deep_research_summary:
                model: "Llama-4-Maverick-17B-128E-Instruct"
    FinancialAnalysisInteractiveRequest:
      title: FinancialAnalysisInteractiveRequest
      type: object
      description: Request for financial interactive agent json object
      additionalProperties: false
      properties:
        prompt:
          title: Prompt
          description: The main prompt for the financial interactive agent
          type: string
        llm_config:
          $ref: '#/components/schemas/LLMOverrides'
        resume:
          default: false
          title: Resume
          description: Whether to describe the results or not
          type: boolean
        thread_id:
          anyOf:
            - type: string
            - type: 'null'
          title: Thread Id
          description: thread id for persistent context
      required:
        - prompt
      examples:
        - prompt: "Perform a financial analysis of Apple"
        - prompt: "Perform a financial analysis of Apple"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            model: "gpt-oss-120b"
        - prompt: "Perform a financial analysis of Apple"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            task_models:
              financial_competitor_finder:
                model: "Meta-Llama-3.1-8B-Instruct"
              financial_analysis_main:
                model: "Meta-Llama-3.1-8B-Instruct"
              financial_aggregator:
                model: "Llama-4-Maverick-17B-128E-Instruct"
    FinancialAnalysisRequest:
      title: FinancialAnalysisRequest
      type: object
      description: Request for  financial agent json object
      additionalProperties: false
      properties:
        prompt:
          title: Prompt
          description: The main prompt for the financial agent
          type: string
        llm_config:
          $ref: '#/components/schemas/LLMOverrides'
      required:
        - prompt
      examples:
        - prompt: "Perform a financial analysis of Apple"
        - prompt: "Perform a financial analysis of Apple"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            model: "gpt-oss-120b"
        - prompt: "Perform a financial analysis of Apple"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            task_models:
              financial_competitor_finder:
                model: "Meta-Llama-3.1-8B-Instruct"
              financial_analysis_main:
                model: "Meta-Llama-3.1-8B-Instruct"
              financial_aggregator:
                model: "Llama-4-Maverick-17B-128E-Instruct"
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
    MainAgentInteractiveRequest:
      title: MainAgentInteractiveRequest
      type: object
      description: Request for main interactive agent json object
      additionalProperties: false
      properties:
        prompt:
          title: Prompt
          description: The main prompt for the main interactive agent
          type: string
        llm_config:
          $ref: '#/components/schemas/LLMOverrides'
        resume:
          default: false
          title: Resume
          description: Whether to describe the results or not
          type: boolean
        thread_id:
          anyOf:
            - type: string
            - type: 'null'
          title: Thread Id
          description: thread id for persistent context
      required:
        - prompt
      examples:
        - prompt: "Create a bar chart for Q1 sales"
        - prompt: "Create a bar chart for Q1 sales"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            model: "gpt-oss-120b"
        - prompt: "Now create a pie chart showing the distribution"
          resume: true
          thread_id: "thread-abc"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            task_models:
              main_agent:
                model: "DeepSeek-V3-0324"
              code_execution:
                model: "DeepSeek-V3-0324"
              deep_research_planner:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              deep_research_writer:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              deep_research_summary:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              data_science_report:
                model: "DeepSeek-V3-0324"
              data_science_code:
                model: "DeepSeek-V3-0324"
              data_science_note:
                model: "Meta-Llama-3.3-70B-Instruct"
              data_science_process:
                model: "Qwen3-32B"
              data_science_hypothesis:
                model: "DeepSeek-V3-0324"
              data_science_quality_review:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              data_science_refiner:
                model: "DeepSeek-R1-0528"
              data_science_visualization:
                model: "DeepSeek-V3-0324"
              data_science_searcher:
                model: "DeepSeek-V3-0324"
              data_science_human_choice:
                model: "DeepSeek-R1-Distill-Llama-70B"
              vision_agent:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              financial_competitor_finder:
                model: "Meta-Llama-3.1-8B-Instruct"
              financial_analysis_main:
                model: "Meta-Llama-3.1-8B-Instruct"
              financial_aggregator:
                model: "Llama-4-Maverick-17B-128E-Instruct"
    MainAgentRequest:
      type: object
      title: MainAgentRequest
      description: Request for  main agent json object
      additionalProperties: false
      properties:
        prompt: 
          title: prompt
          description: The main prompt for the main agent
          type: string
        llm_config:
          $ref: '#/components/schemas/LLMOverrides'
      required:
        - prompt
      examples:
        - prompt: "Create a bar chart for Q1 sales"
        - prompt: "Create a bar chart for Q1 sales"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            model: "gpt-oss-120b"
        - prompt: "Create a bar chart for Q1 sales and summarize the result"
          llm_config:
            provider: "sambastack"
            base_url: "https://api.sambanova.ai/v1"
            task_models:
              main_agent:
                model: "DeepSeek-V3-0324"
              code_execution:
                model: "DeepSeek-V3-0324"
              deep_research_planner:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              deep_research_writer:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              deep_research_summary:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              data_science_report:
                model: "DeepSeek-V3-0324"
              data_science_code:
                model: "DeepSeek-V3-0324"
              data_science_note:
                model: "Meta-Llama-3.3-70B-Instruct"
              data_science_process:
                model: "Qwen3-32B"
              data_science_hypothesis:
                model: "DeepSeek-V3-0324"
              data_science_quality_review:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              data_science_refiner:
                model: "DeepSeek-R1-0528"
              data_science_visualization:
                model: "DeepSeek-V3-0324"
              data_science_searcher:
                model: "DeepSeek-V3-0324"
              data_science_human_choice:
                model: "DeepSeek-R1-Distill-Llama-70B"
              vision_agent:
                model: "Llama-4-Maverick-17B-128E-Instruct"
              financial_competitor_finder:
                model: "Meta-Llama-3.1-8B-Instruct"
              financial_analysis_main:
                model: "Meta-Llama-3.1-8B-Instruct"
              financial_aggregator:
                model: "Llama-4-Maverick-17B-128E-Instruct"
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
        - loc
        - msg
        - type
      title: ValidationError
      type: object

    BaseAgentResponse:
      type: object
      title: Base agent response object
      description: Base agent response object
      additionalProperties: false
      properties:
        status: 
          title: status
          description: status of agent gereneration
          type: string
        result:
          title: result
          description: results description
          type: string
        artifacts:
          title: artifacts
          description: generated artifacts
          type: array
          items:
            type: string
            description: id of generated artifact
        thread_id:
          title: thread_id
          description: thread id for persistent context
          type: string
      required:
        - status
        - result
        - artifacts
        - thread_id
      examples:
        - status: success
          result: I've created the bar chart...
          artifacts: 
            - file-id-123
          thread_id: thread-abc
    
    AgentResponse:
      type: object
      title: Agent Response Object
      description: >-
        Unified schema for agent responses, including success and interrupt states.


        Agent Execution Modes:


        1. Fire-and-forget mode: Standard endpoints (e.g., /agent/deepresearch, /agent/datascience)
        automatically approve any interrupts and return the final result in a single call.


        2. Interactive mode: Interactive endpoints (e.g., /agent/deepresearch/interactive,
        /agent/datascience/interactive) return interrupts to the user for approval. When an
        interrupt occurs (status="interrupted"), the user must review the interrupt.message
        (typically a plan or hypothesis) and then resume the workflow by calling the same
        endpoint with resume=true, thread_id, and their response (e.g., "approve" or feedback).


        Common interrupt scenarios:

        - Deep Research: Interrupts after generating a research plan for user approval

        - Data Science: Interrupts after generating a hypothesis for user approval
      additionalProperties: false
      properties:
        status:
          title: status
          description: >-
            Status of agent execution. Values: "completed" (task finished successfully),
            "interrupted" (requires user input), "error" (execution failed).
          type: string
        result:
          title: Result
          description: >-
            Results description. For completed status, contains the final output.
            For interrupted status, contains the interrupt message (plan/hypothesis).
            For error status, contains error details.
          type: string
        artifacts:
          title: Artifacts
          description: List of generated artifact IDs (e.g., files, images, reports)
          type: array
          items:
            type: string
            description: ID of a generated artifact
        file_ids:
          title: File IDs
          description: Optional list of file identifiers associated with the response
          type: array
          items:
            type: string
            description: ID of an uploaded or generated file
        thread_id:
          title: Thread ID
          description: Identifier for maintaining persistent conversation or context
          type: string
        interrupt:
          title: Interrupt
          description: >-
            Present when status="interrupted". Contains information about the interrupt
            event requiring user action before continuing execution.
          type: object
          properties:
            type:
              title: Type
              description: Type of interrupt (e.g., "approval" for plan/hypothesis approval)
              type: string
            message:
              title: Message
              description: >-
                Plan, hypothesis, or information message for the user to review.
                User should respond with "approve" to continue or provide feedback
                for revision.
              type: string
          required:
            - type
            - message
      required:
        - status
        - thread_id
      examples:
        - status: interrupt
          thread_id: thread-a

    DataScienceAgentHTMLResponse:
      type: object
      title: Data Science Agent HTML Response
      description: Generated HTML report for exploratory data analysis (EDA)
      additionalProperties: false
      properties:
        content_type:
          title: content_type
          description: MIME type of the generated report (should be 'text/html')
          type: string
          examples: 
            - text/html
        title:
          title: title
          description: Title of the analysis report
          type: string
          examples: 
            - Data Science Analysis Report
        html:
          title: html
          description: Full HTML content of the generated report
          type: string
          examples: 
            - |
              <!DOCTYPE html>
              <html>
              <head>
                <title>Data Science Analysis Report</title>
                <style>/* Professional styling */</style>
              </head>
              <body>
                <h1>Exploratory Data Analysis Report</h1>
                <h2>Dataset Overview</h2>
                <p>The dataset contains 1,000 rows and 15 columns...</p>
                <h2>Statistical Summary</h2>
                <table><!-- Summary statistics --></table>
                <h2>Visualizations</h2>
                <img src="data:image/png;base64,..." alt="Distribution Plot">
                <img src="data:image/png;base64,..." alt="Correlation Heatmap">
                <h2>Key Findings</h2>
                <ul>
                  <li>Strong correlation between features X and Y</li>
                  <li>Missing values detected in column Z</li>
                </ul>
              </body>
              </html>
      required:
        - content_type
        - title
        - html
############################
# PATH DEFINITIONS
############################
paths:
  /agent/mainagent:
    post:
      tags:
        - Main Agent
      summary: Main Agent
      description: |
        The main agent is a general-purpose AI assistant that coordinates with specialized subagents (coding, financial analysis, deep research, and data science) to complete complex tasks. This fire-and-forget endpoint submits a prompt and returns the final response in a single call.

        Optional: include `llm_config` to override provider/model/base_url for this request.
      operationId: main_agent_agent_mainagent_post
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MainAgentRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAgentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"

  /agent/mainagent/interactive:
    post:
      tags:
        - Main Agent Interactive
      summary: Main Agent Interactive
      description: |
        The main agent is a general-purpose AI assistant that coordinates with specialized subagents (coding, financial analysis, deep research, and data science) to complete complex tasks. This interactive endpoint supports multi-turn conversations with persistent context.

        Multi-turn workflow:
        - Step 1: Submit prompt with resume=false (or omit it) to start a new conversation. Get thread_id and initial response.
        - Step 2+: Continue conversation with the same thread_id and resume=true, adding new prompts.

        Interrupts: When the main agent delegates to subagents (like deep research), it may return status="interrupted"
        if the subagent needs approval (e.g., research plan). Review the interrupt.message and respond with
        "approve" or feedback to continue.

        Optional: include `llm_config` to override provider/model/base_url for this request.
      operationId: main_agent_interactive_agent_mainagent_interactive_post
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MainAgentInteractiveRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAgentResponse'
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"

  /agent/coding:
    post:
      tags:
        - Subagents
      summary: Coding Agent
      description: |
        The coding agent executes Python code in a sandboxed environment, fixes errors, and returns results. This fire-and-forget endpoint submits a prompt and returns the final response in a single call.

        Optional: include `llm_config` to override provider/model/base_url for this request.
      operationId: coding_agent_agent_coding_post
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CodingAgentRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAgentResponse'
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /agent/coding/interactive:
    post:
      tags:
        - Subagents Interactive
      summary: Coding Agent Interactive
      description: |
        The coding agent executes Python code in a sandboxed environment, fixes errors, and returns results. This interactive endpoint supports multi-turn conversations for iterative code development.

        Step 1: Submit code with prompt, get thread_id and execution result.
        Step 2: Continue with thread_id and resume=true to iterate on code.

        Optional: include `llm_config` to override provider/model/base_url for this request.
      operationId: coding_agent_interactive_agent_coding_interactive_post
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CodingAgentInteractiveRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAgentResponse'
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"

  /agent/datascience:
    post:
      tags:
      - Subagents
      description: |
        The data science agent analyzes datasets, generates visualizations, and produces comprehensive reports. This fire-and-forget endpoint submits a prompt and returns the final report in a single call.

        Optional: include `llm_config_json` in the multipart form to override provider/model/base_url for this request.
      operationId: datascience_agent_and_report_agent_datascience_post
      security:
        - api_key: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DatascienceAgentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataScienceAgentHTMLResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Datascience Agent And Report
  /agent/datascience/interactive:
    post:
      tags:
        - Subagents Interactive
      description: |
        The data science agent analyzes datasets, generates visualizations, and produces comprehensive reports. This interactive endpoint uses a two-step workflow with user approval:

        Step 1: Submit a prompt and files with resume=false (or omit it). The agent analyzes the data and returns:
        - status: "interrupted"
        - result: The analysis hypothesis for your review
        - thread_id: Use this to continue the workflow
        - file_ids: Pass these in step 2

        Step 2: Review the hypothesis and submit with resume=true, the same thread_id, and file_ids_json. Set prompt to:
        - "approve" to proceed with the hypothesis as-is
        - Provide feedback to revise the hypothesis (e.g., "Focus on correlation analysis")

        The agent will then execute the analysis and return status="completed" with the final HTML report.

        Optional: include `llm_config_json` in the multipart form to override provider/model/base_url for this request.
      operationId: datascience_interactive_agent_datascience_interactive_post
      security:
        - api_key: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DatascienceAgentInteractiveRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Datascience Interactive

  /agent/deepresearch:
    post:
      tags:
      - Subagents
      description: |
        The deep research agent conducts multi-iteration research and produces comprehensive reports. This fire-and-forget endpoint automatically approves the research plan and returns the final report in a single call.

        Workflow: The agent generates a research plan internally, auto-approves it, conducts the research, and returns the complete report.

        Optional: include `llm_config` to override provider/model/base_url for this request.
      operationId: deepresearch_agent_agent_deepresearch_post
      security:
        - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeepResearchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAgentResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Deepresearch Agent
  /agent/deepresearch/interactive:
    post:
      tags:
      - Subagents Interactive
      description: |
        Two-step interactive deep research API with user approval:

        Step 1: Submit prompt with resume=false (or omit it). The agent generates a research plan and returns:
        - status: "interrupted"
        - result: The research plan for your review
        - thread_id: Use this to continue the workflow

        Step 2: Review the plan and submit with resume=true and the same thread_id. Set prompt to:
        - "approve" or "true" to proceed with the plan as-is
        - Provide feedback to revise the plan (e.g., "Focus more on recent developments")

        The agent will then conduct the research and return status="completed" with the final report.

        Optional: include `llm_config` to override provider/model/base_url for this request.
      operationId: deepresearch_interactive_agent_agent_deepresearch_interactive_post
      security:
        - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeepResearchInteractiveRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Deepresearch Interactive Agent

  /agent/financialanalysis:
    post:
      tags:
        - Subagents
      summary: Financial Analysis Agent
      description: |
        The financial analysis agent analyzes stocks, companies, and market data. This fire-and-forget endpoint submits a prompt and returns the final response in a single call.

        Optional: include `llm_config` to override provider/model/base_url for this request.
      operationId: financial_analysis_agent_agent_financialanalysis_post
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinancialAnalysisRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAgentResponse'
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"

  /agent/financialanalysis/interactive:
    post:
      tags:
        - Subagents Interactive
      summary: Financial Analysis Agent Interactive
      description: |
        The financial analysis agent analyzes stocks, companies, and market data. This interactive endpoint uses a two-step workflow:
        
        1. Submit a prompt to receive a thread_id and initial analysis
        2. Continue with thread_id and resume=true for follow-up questions

        Optional: include `llm_config` to override provider/model/base_url for this request.
      operationId: financial_analysis_agent_interactive_agent_financialanalysis_interactive_post
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinancialAnalysisInteractiveRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAgentResponse'
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  
  /agent/files/{file_id}:
    get:
      tags:
        - File Management
      summary: Download Agent File
      description: |
        Download files (artifacts) generated by agent APIs using Bearer token authentication. Files are scoped to users, and the storage layer verifies ownership before returning data.
      operationId: download_agent_file_agent_files__file_id__get
      parameters:
        - in: path
          name: file_id
          required: true
          schema:
            title: File Id
            type: string
            description: file id to get artifact
      security:
        - api_key: []
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"

############################
# GLOBAL SECURITY
############################
security:
  - api_key: []
